* {
    font-family: cursive;
    box-sizing: border-box;
}

html {
    background-color: white;
}

body {
    border: double, 24px;
    background-color:red;
    position: fixed;
}

header {
    display: flexbox;
    align-items: center;
}

header > h1, header > p {
    text-align: center;
}

body > h2 {
    padding: 32px;
    text-align: center;
}

aside {
    display: grid;
    flex-direction: column;
    background-color: lightgreen;
    border: dotted;
    margin-top: 32px;
    position: fixed;
    right: 8px;
    width: 200px;
    height: fit-content;
}

footer {
    background-color: gray;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 600px;
    border: thin;
}