* {
    font-family: cursive;
}

h1, h2, p {
    color: #D7D9E1;
}

html {
    background-color: #1F2228;
}

html, body {
    overflow-y: visible;
}

a {
    color: #4BA0FF;
}

body {
    border: solid, 2px;
    border-color: darkgray;
}

header {
    display: flexbox;
    align-items: center;
    text-align: center;
}

body > p {
    padding: 32px;
    text-align: left;
}

div.project1, div.project2 {
    text-align: center;
}

section {
    display: block;
    left: auto;
    float: left;
    flex-direction: column;
    max-width: fit-content;
    max-height: fit-content;
}

iframe {
    width: 1000px;
    height: 2000px;
}

img {
    max-width: 100%;
    border: dotted, #D7D9E1;
    color: #D7D9E1;
}

aside > nav > ul > li > a {
    color: #D7D9E1;
}

aside {
    display: grid;
    float: right;
    flex-direction: column;
    background-color: #28923C;
    position: sticky;
    border: dotted;
    margin-top: 32px;
    right: 8px;
    width: 200px;
    height: fit-content;
}

footer {
    background-color: gray;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 600px;
    border: thin;
}